.navbar{
  cursor: pointer;
}
.search-btn{
  margin-left: 15rem;
}
.search-txt{
  width: 35rem;
}
.TextBox{
  width: 50rem;
  margin-left: 30rem;
  /* margin-top: 5rem; */
  
}
.text-summary{
  margin-left: 30rem;
}
.convert-buttons{
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.7s ease;
  background-color: blue;
  color: white;
  border: none;
  
}
.convert-buttons:hover{
  background-color: black;
  
}
.switch-btn{
  margin-left: 20rem;
}



.contact-form{
  width: 25rem;
  background-image: url('https://images.unsplash.com/photo-1530103043960-ef38714abb15?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fGFlc3RoZXRpY3xlbnwwfHwwfHw%3D&w=1000&q=80');
  box-shadow: 5px 5px  10px black;
}







.developer-info{
  margin-left: 80rem;
}
.developer-info img{
  width: 15rem;
}